body {
  font-size: 100%;
  line-height: 1.5;
  min-width: 320px;
  text-align: center;
}

#page-wrapper {
  text-align: left;
  width: 93.75%;
  margin: 0 auto;
  /*background-image: url(images/grid.gif);*/
}

.node-project #images img {
  width: 100%;
}

.view-projects ul {
  list-style-type: none;
}

.view-projects ul li{
  width: auto;
  text-align: center;
  float: none;
  margin-bottom: 2em;
}

.view-projects ul li img{

}

.view-projects ul li a{
  display: block;
  margin: 0 auto;
}

.view-projects ul li .project-title{
  line-height: 2em;
  display: block;
}

#footer {
  clear: both;
}

form#contact-site-form {
  max-width :460px;
}

/* 480px */
@media only screen and (min-width: 480px) {

#page-wrapper {
  width: 480px;
  margin: 10px auto;
}

#page {
  margin: 0 10px;
}

.node-project #images img {
  width: 460px;
}

.view-projects ul {
  margin: 0 -10px;
}

.view-projects ul li{
  display: inline;
  float: left;
  width: 220px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
}

.view-projects ul li img{
  display: block;
}

}/*/mediaquery*/

/* 640px */
@media only screen and (min-width: 700px) {

#page-wrapper {
  width: 720px;
  margin: 0 auto;
}

.node-project #images img {
  width: auto;
}

}/*/mediaquery*/

/* 960px */
@media only screen and (min-width: 960px) {

.sidebar-first #page-wrapper {
  width: 960px;
  margin: 0 auto;
}

.sidebar-first #content {
  width: 960px;
  float: left;
  display: inline;
}

.sidebar-first #content {
  width: 620px;
  float: left;
  display: inline;
}

.sidebar-first #sidebar-first {
  width: 300px;
  float: right;
  display: inline;
}

}/*/mediaquery*/